* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
/* nav bar for the page  */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style-type: none;
}
ul.nav-links li a {
  text-decoration: none;
  color: rgb(129, 129, 129);
  font-size: 17px;
}

button {
  background-color: #2563EB;
  color: white;
  font-size: 17px;
  font-style: bold;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
/* end nav bar for the page  */ 

/* start hero banner */
.banner {
  background:
    linear-gradient(rgba(27, 27, 27, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/banner.jpg");
    background-size: cover;
    height: 100vh;
 
}

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  gap: 10px;
  align-items: center;
  
  height: 100%;
  color: white;
  text-align: center;
}

.banner-content h1 {
  font-size: 80px;
  font-weight: bold;
}

.banner-content p {
  font-size: 22px;
  font-weight: regular;
  width: 50%;
  margin: 24px auto;
  color: #FFFFFF;
}

.banner-content button {
  background-color: #1D4ED8;
  color: white;
  font-size: 24px;
  font-style: bold;
  width: auto;
  height: 73px;
  padding: 20px 80px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/* end hero banner */


/* <!-- start  Speakers Section --> */
.section-box {
  padding: 60px 80px;
  text-align: center;
  /* background-color: #7da1e9; */
  /* border: 1px solid red; */
}
.section-box h2 {
  font-size: 56px;
  font-weight: bold;
  color: #000102;
  margin-bottom: 40px;
}

.speakers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px 20px;
  margin: 0 auto;
  padding: 60px 20px;
  Width: 80%;
  /* background-color: #e73ea1; */
}

/* card */
.speaker-card {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  
}

.speaker-card img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.card-text {
  padding: 10px 50px;
  text-align: left;
}

.card-text .track-label {
  font-size: 12px;
  font-style: 600;
  color: #2563EB;
  margin-bottom: 5px;
}
.card-text .speaker-name {
  font-size: 20px;
  font-weight: 700;
  color: #0D1B2A;
  margin-bottom: 5px;
}

.card-text .company {
  font-size: 14px;
font-weight: 400;
color: #575757;

}